/* -------about.css---------- */
.about-grid {
    display: grid;
    grid-template-areas:
      "my-story my-story"
      "take-a-look contact-me";
    gap: 2rem;
    padding: 2rem;
  }
  
  #my-story {
    grid-area: my-story;
    text-align: center;
  }
  
  #take-a-look {
    grid-area: take-a-look;
    text-align: center;
  }
  
  #contact-me {
    grid-area: contact-me;
    text-align: center;
  }
  
  .about-item a {
    color: #0073e6;
    margin: 0 1rem;
    text-decoration: none; /* Remove underline */
  }
  
  .about-item a:hover {
    color: #005bb5; /* Change color on hover */
  }
      /* ----------------- */
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-grid {
      grid-template-areas:
        "my-story"
        "take-a-look"
        "contact-me";
    }
  }
    /* ----------------- */