/* -------about.css---------- */
.about-grid {
    display: grid;
    grid-template-areas:
        "my-story my-story"
        "take-a-look contact-me";
    gap: 2rem;
    /*padding: 4rem;*/
}

#my-story {
    grid-area: my-story;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0 auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #161a17;
}

#my-story h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#my-story p {
    max-width: 800px; /* Reduced max-width for narrower paragraphs */
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#take-a-look {
    grid-area: take-a-look;
    text-align: center;
}

/* Flexbox for links */
#take-a-look .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contact-me {
    grid-area: contact-me;
    text-align: center;
}

.about-item a {
    color: #28a745; /* Primary green color */
    margin: 0 1rem;
    text-decoration: none; /* Remove underline */
}

.about-item a:hover {
    color: #5cb85c; /* Light green hover color */
}

/* ----------------- */
/* Responsive Design */
@media (max-width: 768px) {
    .about-grid {
        grid-template-areas:
            "my-story"
            "take-a-look"
            "contact-me";
    }
}

@media (max-width: 480px) {
    #take-a-look .links {
        flex-direction: column; /* Stack vertically on narrow screens */
    }

    #take-a-look a {
        margin: 0.5rem 0; /* Add some vertical spacing */
    }
    .about-item p {
        margin-bottom: 1rem; /* Add space between paragraphs */
        width: 100%; /* Ensure paragraphs take full width */
        max-width: 100%; /* Ensure paragraphs do not exceed full width */
        word-break: break-word; /* Ensure long words break properly */
      }
}