/* -------projects.css---------- */

.repo {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .repo a {
    text-decoration: none;
    color: #0073e6;
  }
/* ----------------- */